@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Mallanna&family=Mansalva&family=Noto+Serif+TC:wght@200..900&display=swap");
/* 清除預設值 */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn,
em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table,
caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details,
embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby,
section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}

* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial, "Noto Sans TC", "蘋方-繁", "PingFang TC", "黑體-繁", "Heiti TC", "微軟正黑體", "Microsoft JhengHei", sans-serif;
  font-optical-sizing: auto; /* 光學尺寸 */
  line-height: 1.5;
}

/* 重置標題字重 */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

/* 重置清單符號 */
ul,
ol {
  list-style: none;
}

/* 重置圖片 */
img {
  display: block;
  width: 100%;
}

/* 重置連結 */
a {
  display: block;
  /* 將a預設的inline改為block，才能設定間距及寬高 */
  color: #222;
  text-decoration: none;
}

/* reset end */
#MainPage {
  width: 100%;
  height: 265vh;
  background-color: #F2E9D4;
}

@font-face {
  font-family: "ChenYuluoyan";
  src: url("./fonts/ChenYuluoyan-Thin.ttf") format("truetype");
}
/* 頁首區 */
.topbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
}
.topbar .logo {
  display: flex;
  position: relative;
}
.topbar .logo .img-logo {
  width: 250px;
  position: absolute;
  left: -50px;
  top: -50px;
}
.topbar .logo h1 {
  position: absolute;
  width: 100px;
  top: 0px;
  left: 40px;
  letter-spacing: 2px;
  color: #464646;
}
.topbar nav {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.topbar nav .menu {
  display: flex;
  padding: 0 10px;
  margin-top: 10px;
  margin-bottom: 20px;
}
.topbar nav .menu a {
  margin: 15px;
  padding: 7px 0 5px;
  border-bottom: 2px solid transparent;
  transition: 0.4s;
  text-shadow: 0 0 2px rgba(255, 255, 255, 0.3);
  color: #464646;
}
.topbar nav .menu a:hover {
  color: #ffcc00;
  border-bottom: 2px solid transparent;
}

/* 內容區 */
/* 第一層 */
#layer1 {
  width: 100%;
  height: 45vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
}
#layer1 .layer1-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 55%;
}
#layer1 .layer1-text .text-TW {
  font-family: "ChenYuluoyan", sans-serif;
  font-size: 11.5vw;
  color: #464646;
  display: flex;
  justify-content: center;
}
#layer1 .layer1-text .text-TW span {
  display: inline-block;
  margin: 0 30px;
}
#layer1 .layer1-text .text-EN {
  color: #464646;
  font-family: "Mansalva", sans-serif;
  font-size: 2vw;
  letter-spacing: 6px;
  text-align: right;
  padding-left: 30px;
}
#layer1 .stamp {
  width: 20%;
  height: auto;
}
#layer1 .stampLeft {
  width: 8%;
  position: absolute;
  top: 30%;
  left: 23%;
}
#layer1 .stampRight {
  width: 6%;
  position: absolute;
  right: 25%;
  top: 5%;
}

/* 第二層 */
#layer2 {
  width: 100%;
  height: 45vh;
  display: flex;
  justify-content: space-around;
  padding: 50px 30px;
}
#layer2 .layer2-1 {
  width: 25%;
}
#layer2 .layer2-3 {
  width: 25%;
}
#layer2 .layer2-2 {
  font-family: "Noto Sans TC", serif;
  font-size: 1.5vw;
  position: relative;
  width: 50%;
  padding: 0 30px;
}
#layer2 .layer2-2 img {
  width: 100%;
  height: 100%;
}
#layer2 .layer2-2 .layer2-text {
  color: #464646;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
#layer2 .layer2-2 .layer2-text #text1 {
  margin: 50px 0 35px 50px;
  text-align: left;
  letter-spacing: 3px;
}
#layer2 .layer2-2 .layer2-text #text2 {
  text-align: center;
  letter-spacing: 3px;
  margin: 50px 0;
}
#layer2 .layer2-2 .layer2-text #text3 {
  margin: 50px 50px 35px 0;
  text-align: right;
  letter-spacing: 3px;
}

/* 第三層 */
#layer3 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 50px 50px;
  height: 100vh;
  position: relative;
}
#layer3 .layer3-1 {
  width: 32%;
  border: 1px solid blue;
}
#layer3 .layer3-1 .layer3-1-img1 {
  width: 100%;
  height: auto;
}
#layer3 .layer3-1 .layer3-1-img2 {
  position: absolute;
  width: 7%;
  top: -30px;
  left: 550px;
}
#layer3 .layer3-1 .layer3-1-img8 {
  z-index: 999;
  position: absolute;
  width: 4%;
  bottom: 390px;
  left: 480px;
  transform: rotate(17deg);
}
#layer3 .layer3-1 #layer3-1-img4 {
  position: absolute;
  width: 25%;
  top: 550px;
  left: -20px;
}
#layer3 .layer3-1 #layer3-1-img5 {
  position: absolute;
  width: 8%;
  bottom: -70px;
  left: 410px;
  z-index: 999;
}
#layer3 .layer3-1 #layer3-1-img6 {
  position: absolute;
  width: 6%;
  bottom: -40px;
  left: 530px;
  z-index: 998;
}
#layer3 .layer3-1 #layer3-1-img7 {
  position: absolute;
  width: 7%;
  bottom: 10px;
  left: 460px;
  z-index: 997;
}
#layer3 .layer3-1 .text1 {
  position: relative;
}
#layer3 .layer3-1 .text1 #text4 {
  font-family: "Noto Sans TC", serif;
  color: #464646;
  line-height: 60px;
  position: absolute;
  width: 400px;
  top: -370px;
  left: 45px;
  font-size: 1.2vw;
  font-weight: bold;
}
#layer3 .layer3-1 .text1 #text5 {
  font-family: "Noto Sans TC", serif;
  color: #464646;
  line-height: 70px;
  position: absolute;
  width: 500px;
  top: -180px;
  left: 45px;
  font-size: 2.4vw;
  text-shadow: white 0.04em 0.04em 0.02em;
  font-weight: 600;
  letter-spacing: 5px;
}
#layer3 .layer3-1 .layer3-1-img3 {
  z-index: 998;
  position: absolute;
  width: 16%;
  top: 47%;
  left: 20%;
  transform: rotate(3deg);
}
#layer3 .layer3-1 #text6 {
  z-index: 998;
  position: absolute;
  width: 300px;
  top: 415px;
  left: 370px;
  line-height: 30px;
  letter-spacing: 4px;
  text-align: center;
  transform: rotate(5deg);
  color: #464646;
}
#layer3 .layer3-3 {
  width: 32%;
  color: #464646;
}
#layer3 .layer3-3 #bar1 {
  width: 100%;
  position: relative;
}
#layer3 .layer3-3 #bar1 #bar1-1 {
  width: 50px;
  position: absolute;
  top: -20px;
  left: 150px;
}
#layer3 .layer3-3 #bar1 #bar1-2 {
  width: 50px;
  position: absolute;
  top: -20px;
  left: 220px;
}
#layer3 .layer3-3 #bar1 #bar1-3 {
  width: 50px;
  position: absolute;
  top: -20px;
  left: 290px;
}
#layer3 .layer3-3 #bar1 #bar1-4 {
  width: 50px;
  position: absolute;
  top: -20px;
  left: 360px;
}
#layer3 .layer3-3 #bar1 #text3-3-1 {
  position: absolute;
  top: -15px;
  left: 160px;
  font-family: "Noto Sans TC", serif;
  font-size: 30px;
  font-weight: bold;
}
#layer3 .layer3-3 #bar1 #text3-3-2 {
  position: absolute;
  top: -15px;
  left: 225px;
  font-family: "Noto Sans TC", serif;
  font-size: 30px;
  font-weight: bold;
}
#layer3 .layer3-3 #bar1 #text3-3-3 {
  position: absolute;
  top: -15px;
  left: 300px;
  font-family: "Noto Sans TC", serif;
  font-size: 30px;
  font-weight: bold;
}
#layer3 .layer3-3 #bar1 #text3-3-4 {
  position: absolute;
  top: -15px;
  left: 370px;
  font-family: "Noto Sans TC", serif;
  font-size: 30px;
  font-weight: bold;
}
#layer3 .layer3-3 #bar1 #layer3-3-img1 {
  width: 85%;
  height: 750px;
  position: absolute;
  top: 60px;
  left: 50px;
}
#layer3 .layer3-3 #bar1 #layer3-3-img2 {
  position: absolute;
  width: 150px;
  top: 50px;
  right: -20px;
  transform: rotate(15deg);
}
#layer3 .layer3-3 #dontai1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 85%;
  height: 750px;
  position: absolute;
  top: 60px;
  left: 60px;
  padding: 60px 15px;
  overflow: hidden;
  font-size: 0.85vw;
}
#layer3 .layer3-3 #dontai1 .citylogo {
  width: 5%;
  margin: 0 5px;
}
#layer3 .layer3-3 #dontai1 .citytext {
  font-size: 0.85vw;
  font-weight: 400;
}
#layer3 .layer3-4 {
  position: relative;
  width: 32%;
}
#layer3 .layer3-4 #bar2 {
  color: #464646;
}
#layer3 .layer3-4 #bar2 #bar2-1 {
  width: 50px;
  position: absolute;
  top: -15px;
  right: 450px;
}
#layer3 .layer3-4 #bar2 #bar2-2 {
  width: 50px;
  position: absolute;
  top: -15px;
  right: 380px;
}
#layer3 .layer3-4 #bar2 #bar2-3 {
  width: 50px;
  position: absolute;
  top: -15px;
  right: 310px;
}
#layer3 .layer3-4 #bar2 #bar2-4 {
  width: 50px;
  position: absolute;
  top: -15px;
  right: 240px;
}
#layer3 .layer3-4 #bar2 #bar2-5 {
  width: 50px;
  position: absolute;
  top: -15px;
  right: 170px;
}
#layer3 .layer3-4 #bar2 #text3-4-1 {
  position: absolute;
  top: -15px;
  right: 460px;
  font-family: "Noto Sans TC", serif;
  font-size: 30px;
  font-weight: bold;
}
#layer3 .layer3-4 #bar2 #text3-4-2 {
  position: absolute;
  top: -15px;
  right: 390px;
  font-family: "Noto Sans TC", serif;
  font-size: 30px;
  font-weight: bold;
}
#layer3 .layer3-4 #bar2 #text3-4-3 {
  position: absolute;
  top: -15px;
  right: 320px;
  font-family: "Noto Sans TC", serif;
  font-size: 30px;
  font-weight: bold;
}
#layer3 .layer3-4 #bar2 #text3-4-4 {
  position: absolute;
  top: -15px;
  right: 250px;
  font-family: "Noto Sans TC", serif;
  font-size: 30px;
  font-weight: bold;
}
#layer3 .layer3-4 #bar2 #text3-4-5 {
  position: absolute;
  top: -15px;
  right: 180px;
  font-family: "Noto Sans TC", serif;
  font-size: 30px;
  font-weight: bold;
}
#layer3 .layer3-4 #bar2 #layer3-4-img1 {
  width: 85%;
  height: 750px;
  position: absolute;
  top: 60px;
  right: 50px;
}
#layer3 .layer3-4 #bar2 #layer3-4-img2 {
  position: absolute;
  width: 150px;
  top: 50px;
  right: 0px;
  transform: rotate(15deg);
}
#layer3 .layer3-4 #dontai2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  height: 750px;
  position: absolute;
  top: 60px;
  right: 50px;
  padding: 60px 45px;
  overflow: hidden;
}
#layer3 .layer3-4 #dontai2 .citylogo {
  width: 5%;
  margin: 0 5px;
}
#layer3 .layer3-4 #dontai2 .citytext {
  font-size: 0.85vw;
  font-weight: 400;
}

/* 第四層 */
#layer4 {
  width: 100%;
  height: 58vh;
  display: flex;
  justify-content: space-around;
  padding: 50px 40px;
  margin-top: 30px;
}
#layer4 .layer4-1 {
  position: relative;
  display: inline-block;
  width: 65%;
  margin-right: 15px;
}
#layer4 .layer4-1 #layer4-1-img1 {
  position: absolute;
  width: 100%;
  height: 100%;
}
#layer4 .layer4-1 #layer4-1-img2 {
  position: absolute;
  width: 13%;
  top: 10px;
  right: 10px;
}
#layer4 .layer4-1 #layer4-1-img3 {
  position: absolute;
  width: 23px;
  bottom: 33px;
  right: 540px;
}
#layer4 .layer4-1 #layer4-1-img4 {
  position: absolute;
  width: 23px;
  bottom: 33px;
  right: 510px;
}
#layer4 .layer4-1 #layer4-1-text1 {
  position: absolute;
  bottom: 100px;
  right: 20px;
  color: #6a4217;
  font-size: 20px;
  font-weight: 500;
}
#layer4 .layer4-1 #layer4-1-text2 {
  position: absolute;
  bottom: 20px;
  right: 20px;
  color: #6a4217;
  font-size: 48px;
  font-weight: 400;
  letter-spacing: 3px;
}
#layer4 .layer4-1 #layer4-1-text2:hover {
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 30px #fff, 0 0 40px #FFDD1B, 0 0 70px #FFDD1B;
}
#layer4 .layer4-2 {
  position: relative;
  display: inline-block;
  width: 600px;
}
#layer4 .layer4-2 #layer4-2-img1 {
  width: 100%;
  height: 100%;
}
#layer4 .layer4-2 #layer4-2-img2 {
  position: absolute;
  width: 120px;
  top: 35px;
  right: 40px;
  transform: scaleX(-1);
}
#layer4 .layer4-2 #layer4-2-img3 {
  position: absolute;
  width: 100px;
  top: 40px;
  right: 100px;
}
#layer4 .layer4-2 #layer4-2-img4 {
  position: absolute;
  width: 200px;
  bottom: -30px;
  right: 10px;
}
#layer4 .layer4-2 #layer4-2-text1 {
  position: absolute;
  top: 35px;
  left: 50px;
  font-family: "Noto Sans TC", serif;
  color: #464646;
  line-height: 70px;
  font-size: 48px;
  text-shadow: white 0.04em 0.04em 0.1em;
  font-weight: 600;
}
#layer4 .layer4-2 #layer4-2-text2 {
  position: absolute;
  top: 120px;
  left: 50px;
  font-size: 24px;
  letter-spacing: 5px;
  color: #464646;
}
#layer4 .layer4-2 #layer4-2-text3 {
  position: absolute;
  bottom: 50px;
  left: 50px;
  font-size: 24px;
  letter-spacing: 8px;
  color: #464646;
}

/* footer */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
}
footer p {
  text-align: center;
  color: #464646;
}

@keyframes scrollAnimation {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100%);
  }
}/*# sourceMappingURL=mainpage.css.map */