@use 'reset';

#MemStory {
    width: 100%;
    background-color: #F2E9D4;
    overflow: hidden;

    #MemStory-main {
        height: 75vh;
    }
}

/* 內容區 */
#section1 {
    position: relative;
    margin-bottom: 50px;

    #backToMainPage {
        position: absolute;
        width: 6%;
        top: 60px;
        left: 60px;
        z-index: 999;
    }

    #section1-img1 {
        z-index: 999;
        width: 120px;
        position: absolute;
        top: -30px;
        left: 30%;
    }

    #section1-img2 {
        width: 70px;
        position: absolute;
        top: -30px;
        left: 34%;
    }

    #bar1-1 {
        width: 50px;
        position: absolute;
        top: 0.5%;
        left: 40.3%;
    }

    #bar1-2 {
        width: 50px;
        position: absolute;
        top: 0.5%;
        left: 45.5%;
    }

    #bar1-3 {
        width: 50px;
        position: absolute;
        top: 0.5%;
        left: 50.7%;
    }

    #bar1-4 {
        width: 50px;
        position: absolute;
        top: 0.5%;
        left: 55.8%;
    }

    #text1-1 {
        position: absolute;
        color: #8a5D3b;
        font-family: "Noto Sans TC", serif;
        font-size: 30px;
        font-weight: bold;
        top: 0;
        left: 41%;
    }

    #text1-2 {
        position: absolute;
        color: #8a5D3b;
        font-family: "Noto Sans TC", serif;
        font-size: 30px;
        font-weight: bold;
        top: 2px;
        left: 46%;
    }

    #text1-3 {
        position: absolute;
        color: #8a5D3b;
        font-family: "Noto Sans TC", serif;
        font-size: 30px;
        font-weight: bold;
        top: 2px;
        left: 51.3%;
    }

    #text1-4 {
        position: absolute;
        color: #8a5D3b;
        font-family: "Noto Sans TC", serif;
        font-size: 30px;
        font-weight: bold;
        top: 2px;
        left: 56.5%;
    }
}

#section2 {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 0px 200px;
    position: relative;
    height: 65vh;

    .box {

        width: 20%;
        margin-top: 120px;

        .boxImg{
            position: absolute;
            width: 15%;
        }

        .text1 {
            position: absolute;
            font-size: 0.8vw;
            // top: 295px;
            // left: 30px;
            letter-spacing: 3px;
            color: #464646;
            margin: 15% 0 0 1.5%;
        }

        .text2 {
            position: absolute;
            font-size: 0.8vw;
            // top: 320px;
            // left: 80px;
            letter-spacing: 3px;
            color: #464646;
            margin: 16.5% 0 0 3%;
        }

        .text3 {
            position: absolute;
            font-size: 0.8vw;
            color: white;
            // top: 390px;
            // left: 200px;
            letter-spacing: 3px;
            color: #FFFFFF;
            margin: 19.5% 0 0 10%;
        }
    }


    #section2-img1 {
        position: absolute;
        width: 220px;
        bottom: -70px;
        left: 0px;
    }

    #section2-img2 {
        position: absolute;
        width: 230px;
        bottom: -50px;
        right: 30px;
        transform: scaleX(-1);
    }

    #section2-img3 {
        position: absolute;
        width: 100px;
        bottom: 0px;
        right: 50px;
    }
}