@charset "UTF-8";

body {
  font-family: "Noto Sans TC", serif;
    background-image: url(../images/background.png);
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
}

/* 頁首 */
#topbar {
    display: flex;
    justify-content: space-between;
}
#topbar .logo a img { 
    height: 70px;
    width: 70px;
    margin-left: 20px;
}

#topbar .navigation .menu {
    list-style: none;
    display: flex;
    padding: 0 200px;
}

#topbar .navigation .menu a {
  margin: 15px;
  padding: 7px 0 5px;
  border-bottom: 2px solid transparent;
  transition: 0.4s;
  text-shadow: 0 0 2px rgba(255, 255, 255, 0.3);
  text-decoration:none;
  color: #222;
}
#topbar .navigation .menu a:hover{

  color: #00ff88;
  border-bottom: 2px solid transparent;
} 

/* 內容區 */
/* 左側按鈕 */
.wrap {
  margin-top: 40px;
  display: flex;
}

.btn {
  flex-direction: column;
  display: flex;
  margin-left: 100px;
  
}
.btn button{
  margin-top: 10px;
  font-size: 18px;
  color: #464646;
  border: none;
  width: 175px;
  height: 55px;
  background-image: url(../images/btn-3.png);
  background-color: transparent;
  background-size: 100%;
  cursor: pointer;
}
/* 側邊按鈕動畫 */
.button-grow-shadow {
display: inline-block;
vertical-align: middle;
-webkit-transform: translateZ(0);
transform: translateZ(0);

-webkit-backface-visibility: hidden;
backface-visibility: hidden;
-moz-osx-font-smoothing: grayscale;
-webkit-transition-duration: 0.3s;
transition-duration: 0.3s;
-webkit-transition-property:  transform;
transition-property: transform;

}
.button-grow-shadow:hover{

-webkit-transform: scale(1.1);
transform: scale(1.1);
}
.button-grow-shadow:focus{

-webkit-transform: scale(1.1);
transform: scale(1.1);
}
.button-grow-shadow:active{

-webkit-transform: scale(1.1);
transform: scale(1.1);
}
/* 內容區 */
.info-box {
flex-direction: column;
width: 900px;
height: 650px;
background-image: url(../images/p5-papers-1.png);
background-repeat: no-repeat;
background-size: 100%;
/* left: 500px; */
margin-left: 250px;

}

.box2 {
width: 530px;
margin-top: 70px;
margin-left: 180px;
border-radius: .25em;
background: #CDB17E;  

}
.box2 h2 {
color: #8A5D3B;
font-size: 24px;
letter-spacing: 20%;
text-align: center;
line-height: 55px;
}

/* 手風琴區accordion  */
*:before,
*:after {
box-sizing: border-box;
}
.hide {
clip: rect(0 0 0 0);
height: 1px;
margin: -1px;
padding: 0;
position: absolute;
width: 1px;
}

#box3{
margin: 20px 150px;

}
.accordion {

background: #fff;
width: 480px;
border: 1px solid #e0e0e0;

background-color: transparent;
}

.accordion-item {
position: relative;
width: 100%;
border-bottom: 1px solid #e0e0e0;
list-style:none;

}
.accordion-item:last-child {
border-bottom: none;
}

.accordion-label {
padding: 10px 0 10px 30px;
width: 100%;
display: block;
font-size: 18px;
background-color:#E2CA9E;
color: #464646;
border-bottom-left-radius: .25em;
border-bottom-right-radius: .25em;

}
.accordion-label:hover {
cursor: pointer;

}
.accordion-label:before {
content: "";
position: absolute;
height: 5px;
width: 5px;
top: 22px;
left: 12px;
display: inline-block;
border-left: 5px solid #999;
border-top: 5px solid transparent;
border-bottom: 5px solid transparent;

}
input[type=checkbox]:checked ~ .accordion-label:before {
transform: rotate(90deg);
}

.accordion-child {
margin: 0;
overflow: hidden;
transition: all 0.3s ease;
opacity: 0;
height: 0;
transform: scale(1, 0);
transform-origin: center top;
width: 515px;



}

input[type=checkbox]:checked ~ .accordion-child {
border: 1px solid #e0e0e0;
margin: 0 -20px 15px -20px;
box-shadow: 0 3px 6px 1px rgba(0, 0, 0, 0.16);

padding: 15px;
text-align: justify;
height: auto;
opacity: 1;
transform: scale(1, 1);
background-image: url(../images/p4-papers-2.jpg);

background-position: center 80px;
letter-spacing: 10px;
color: #464646;
border-bottom-left-radius: .25em;
border-bottom-right-radius: .25em;
}

/* 裝飾區 */
.pic1 {
  position: absolute;
  left: 410px;
  bottom: 180px;
 
}
.pic2 {
  position: absolute;
  right: 380px;
  top :100px;
  transform: rotate(-5deg);
}
.pic3 img {
  width: 250px;
  height: 170px;
}
.pic3 {
  position: absolute;
  left: 80px;
  bottom: 220px;
  transform: rotate(-15deg);
}
.pic4 img {
  width: 300px;
  height: 370px;
  animation: swing ease-in-out 2s infinite alternate;
  transform-origin: bottom -20px;
}
.pic4 {
  position: absolute;
  left: 280px;
  bottom: 170px;
  transform: rotate(-2deg);
}
.pic5 img {
  width: 130px;
  height: 130px;
}
.pic5 {
  position: absolute;
  right: 400px;
  bottom: 220px;
}
.pic6 img {
  width: 340px;
  height: 320px;
}
.pic6 {
  position: absolute;
  right: 20px;
  bottom: 300px;
  transform: rotate(5deg);
}
.pic7 img {
  width: 300px;
  height: 290px;
}
.pic7 {
  position: absolute;
  right: 100px;
  bottom: 210px;
  transform: rotate(-50deg);
}
/* 花的動畫 */
@keyframes swing {
0% {
    transform: rotate(2deg);
}
100%{
    transform: rotate(-2deg);
}
}
/* 頁尾區 */
footer {
display: inline-block;
position: fixed;
display: flex;
align-items: center;
justify-content: center;
bottom: 0px;
/* background-color: #E2CA9E; */
width: 100%;
height: 65px;

letter-spacing: 3px;
color: #464646;

}