@charset "UTF-8";

body {
  font-family: "Noto Sans TC", serif;
    background-image: url(../images/background.png);
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
   
}




.About-wrap {
  margin-top: 40px;
  display: flex;
}

.About-btn {
  flex-direction: column;
  display: flex;
  margin-left: 100px;
}
.About-btn button{
  margin-top: 10px;
  font-size: 18px;
  color: #464646;
  border: none;
  width: 175px;
  height: 55px;
  background-image: url(../images/btn-3.png);
  background-color: transparent;
  background-size: 100%;
  cursor: pointer;
}
.button-grow-shadow {
display: inline-block;
vertical-align: middle;
-webkit-transform: translateZ(0);
transform: translateZ(0);

-webkit-backface-visibility: hidden;
backface-visibility: hidden;
-moz-osx-font-smoothing: grayscale;
-webkit-transition-duration: 0.3s;
transition-duration: 0.3s;
-webkit-transition-property:  transform;
transition-property: transform;

}
.button-grow-shadow:hover{

-webkit-transform: scale(1.1);
transform: scale(1.1);
}
.button-grow-shadow:focus{

-webkit-transform: scale(1.1);
transform: scale(1.1);
}
.button-grow-shadow:active{

-webkit-transform: scale(1.1);
transform: scale(1.1);
}
/* 中間內容 */
.About-main-box{
  flex-direction: column;
  width: 50%;
  height:650px;
  background-image: url(../images/p5-papers-1.png);
  background-color: transparent;
  background-size: 100%;
  background-repeat: no-repeat;
  margin-left: 12%;
  margin-top: 3.70vh;
}
.About-info {
  display: flex;


}
.About-title {
  display: flex;
  justify-content: center;
  margin-top: 5%;
}
.About-title .block {
  display: flex;
  display: inline-block;
  background-color: #E2CA9E;
  color: #8A5D3B;
  padding: 10px 10px;
  margin-left: 20px;
  font-size: 24px;
  font-weight: 700;
}

.block1 {
  clip-path: polygon(0% 0%,100% 0%,90% 100%,10% 100%);
}
.block2 {
  clip-path: polygon(0% 0%,100% 0%,100% 80%,20% 100%);
}
.block3 {
  clip-path: polygon(10% 0%,90% 0%,100% 100%,0% 90%);
}
.block4 {
  clip-path: polygon(0% 10%,100% 0%,90% 100%,10% 90%);
}
.block5 {
  clip-path: polygon(0% 0%,100% 10%,90% 100%,0% 80%);
}
.block6 {
  clip-path: polygon(10% 0%,100% 20%,90% 100%,10% 100%);
}

.block:nth-child(1) {transform: rotate(5deg);}
.block:nth-child(2) {transform: rotate(-3deg);}
.block:nth-child(3) {transform: rotate(-5deg);}
.block:nth-child(4) {transform: rotate(7deg);}
.block:nth-child(5) {transform: rotate(-8deg);}
.block:nth-child(6) {transform: rotate(5deg);}

.About-box1 {
  background-image: url(/images/p5-papers-2.png);
  width: 40%;
  max-width: 500px; /* 設定最大寬度，避免在大螢幕上過大 */
  height: 25vw; /* 高度為視窗寬度的25%，這樣會隨著螢幕寬度改變 */
  max-height: 385px; /* 設定最大高度，避免在小螢幕上過高 */
  background-repeat: no-repeat;
  background-size: contain; /* 確保背景圖片完整顯示，並保持其比例 */
  background-position: center center; /* 背景圖片居中顯示 */

  padding: 5%;
  margin-top: 4.5vh; /* 使用視窗高度來調整距頂部的距離 */
  margin-left: 8%; /* 左側的外邊距，根據需要調整 */
}
.About-box1-content{
  max-width: 100%;
  
  height: 30vw; /* 使用視窗寬度比例來設定高度 */
  max-height: 100%;
}

.About-box1-content h3 {
  font-size: .9vw; /* 使用視窗寬度來調整字體大小 */
  letter-spacing: 2%; /* 根據需要調整字母間距 */
  color: #464646;
  margin-top: 15%;
  margin-left: 10%;
  font-weight: 900;
}

.About-box1-content p {
  font-size: .8vw; /* 使用視窗寬度來調整字體大小 */
  letter-spacing: 2%; /* 根據需要調整字母間距 */
  width: 100%;
  padding: 0 10%;
  line-height: 200%;
  margin-top: 3%;
  color: #464646;
  font-weight: 500;
}



.About-box1b {
  background-image: url(/images/p5-papers-2.png);
  width: 40%;
  max-width: 500px; /* 設定最大寬度，避免在大螢幕上過大 */
  height: 25vw; /* 高度為視窗寬度的25%，這樣會隨著螢幕寬度改變 */
  max-height: 385px; /* 設定最大高度，避免在小螢幕上過高 */
  background-repeat: no-repeat;
  background-size: contain; /* 確保背景圖片完整顯示，並保持其比例 */
  background-position: center center; /* 背景圖片居中顯示 */

  padding: 5%;
  margin-top: 4.5vh; /* 使用視窗高度來調整距頂部的距離 */
  margin-left: 4%;
}
.About-box2-content{
  max-width: 100%;
  
  height: 30vw; /* 使用視窗寬度比例來設定高度 */
  max-height: 100%;
}
.About-box2-content h3 {
  font-size: .9vw; /* 使用視窗寬度來調整字體大小 */
  letter-spacing: 2%; /* 根據需要調整字母間距 */
  color: #464646;
  margin-top: 15%;
  margin-left: 10%;
  font-weight: 900;
}
.About-box2-content p {
  font-size: .8vw; /* 使用視窗寬度來調整字體大小 */
  letter-spacing: 2%; /* 根據需要調整字母間距 */
  width: 100%;
  padding: 0 10%;
  line-height: 200%;
  margin-top: 3%;
  color: #464646;
  font-weight: 500;
}
@media (max-width:1680px) {
  .About-box1,.About-box1b {
  margin-top: 0;
  height: 22vw;
  }
  .About-box1-content h3 ,.About-box2-content h3{
    margin-top: 25%;
  }


}
@media (min-width: 768px) and (max-width: 1024px) {
  .About-wrap {
    margin-top: 60px;
   
  }
  
  .About-btn {
  
    margin-left: 50px;
  }
  .About-btn button{
    margin-top: 10px;
    font-size: .875rem;
   
    width:18vw;
    height: 45px;
  
    background-repeat: no-repeat;
   
  }
  #About-main .About-main-box{
   
    
    width: 65%; 
    height: 700px;
    
    background-size: 100% 100%; /* 背景圖寬度和高度完全填充容器 */
    background-repeat: no-repeat; /* 避免背景重复 */
    margin-left: 5%;
    margin-top: 3.70vh;
  }
  .About-title {
   
    margin-top: 5%;
  }
  .About-title .block {
   
    padding: 10px 10px;
    margin-left: 20px;
    font-size: 24px;
    font-weight: 700;
  }
  .About-info {
    display: flex;
    flex-direction: column;
  
  }
  
  .About-box1 {
   
    width: 70%;
    background-size: 100% 100%; /* 背景圖寬度和高度完全填充容器 */
    background-repeat: no-repeat; /* 避免背景重复 */
    height: 28vw; 
    
    background-position: center center; /* 背景圖片居中顯示 */
  
    padding: 5%;
    margin-top:5%;
    margin-left: 15%; 
  }
  .About-box1-content{
    width: 100%;
    height: 30%;
  
  }
  
  .About-box1-content h3 {
    font-size: 1rem; /* 使用視窗寬度來調整字體大小 */
    letter-spacing: 2%; /* 根據需要調整字母間距 */
  
    margin-top: 5%;
    margin-left: 10%;
    font-weight: 500;
  }
  
  .About-box1-content p {
    font-size: .75rem; /* 使用視窗寬度來調整字體大小 */

  }
  
  
  
  .About-box1b {
    width: 70%;
    background-size: 100% 100%; /* 背景圖寬度和高度完全填充容器 */
    background-repeat: no-repeat; /* 避免背景重复 */
    height: 30vw; 
    
    background-position: center center; /* 背景圖片居中顯示 */
  
    padding: 5%;
    margin-top:10%;
    margin-left: 15%; 
  }
  .About-box2-content{
    max-width: 100%;
    
    height: 35vw; /* 使用視窗寬度比例來設定高度 */
   
  }
  .About-box2-content h3 {
    font-size: 1rem; /* 使用視窗寬度來調整字體大小 */
    letter-spacing: 2%; /* 根據需要調整字母間距 */
  
    margin-top: 5%;
    margin-left: 10%;
    font-weight: 500;
  }
  .About-box2-content p {
    font-size: .75rem; /* 使用視窗寬度來調整字體大小 */

   
  }
}
/* 裝飾區 */
.About-pic1 {
  position: absolute;
  left:22%;
  bottom:17%;
}


.About-pic2 {
  position: absolute;
  right: 20%;
  top: 12%;
  transform: rotate(-5deg);
}
.About-pic1 img,.About-pic2 img{
  width: 14.38vw;
  height: 15.65vh;
}


.About-pic3 img {
  width: 13.02vw;
  height: 15.9vh;
}
.About-pic3 {
  position: absolute;
  left: 5%;
  bottom: 22%;
  transform: rotate(-15deg);
}

.About-pic4 img {
  width: 15.63vw;
  height: 34.26vh;
  /* animation: swing ease-in-out 2s infinite alternate;
  transform-origin: bottom -20px; */
 
}
.About-pic4 {
  position: absolute;
  left: 15%;
  bottom: 17%;
  transform: rotate(-2deg);
}


.About-pic5 img {
  width: 6.77vw;
  height: 13vh;
}
.About-pic5 {
  position: absolute;
  right: 22%;
  bottom: 18%;
}
.About-pic6 img {
  width: 17.71vw;
  height: 30vh;
 
}

.About-pic6 {
  position: absolute;
  right: 2%;
  bottom: 30%;
  transform: rotate(5deg);


}
.About-pic7 img {
  width: 15.63vw;
  height: 26.85vh;
 
}
.About-pic7 {
  position: absolute;
  right: 10%;
  bottom: 23%;
  transform: rotate(-50deg);

}
.About-pic8 {
  position: absolute;
  left:38%;
  top: 31%;
  transform: rotate(5deg);
}
.About-pic9 {
  position: absolute;
  right: 36%;
  top: 31%;
  transform: rotate(10deg);
}
.About-pic8 img,.About-pic9 img
{
  width: 8vh;
  height: 7.5vh;
}
@media (max-width:1680px){
  .About-pic1{
    bottom:23%;
    left:25%
  }
  .About-pic2{
    top:12%;
    right:18%

  }
  .About-pic4{
    left: 18%;
    bottom: 20%;
  }
  .About-pic5 {
   
    right: 20%;
    bottom: 25%;
  }
  .About-pic6 {
   
    right: 1.5%;
    bottom:32% ;
  }
  .About-pic7 {

    right: 7.9%;
    bottom: 28%;

  }
  .About-pic8 {
    
   
    top: 27%; 
  
  }
  .About-pic9 {
 
    right: 32%;
    top: 27%;

  }
}
@media(max-width:1440px){
  .About-pic1{
    bottom:20%;
    left:28%
  }
  .About-pic2{
    top:15%;
    right:15%

  }
  .About-pic4{
    left: 19%;
    bottom: 20%;
  }
  .About-pic5 {
   
    right: 16%;
    bottom: 25%;
  }
  .About-pic6 {
    
   
    right: 0;
    bottom:32% ;
  }
  .About-pic6 img{
    width: 17vw;
    height: 28vh;
  }

  .About-pic7 {
    
    right: 4.8%;
    bottom: 29%;

  }
  .About-pic7 img{
    width: 15vw;
    height: 26vh;
  }
  .About-pic8 {
    
    
    top: 32%;   
    left:43%;
  }
  .About-pic9 {
    
    top: 32%;
    right: 30%;
  }

}

/* 動畫設定 */
@keyframes float{
0% {
  transform: translatey(0px);
}
50% {
  transform: translatey(-5px);
}
100% {
  transform: translatey(0px);
}
}
@keyframes float2{
0% {
  transform: translatex(0px);
}
50% {
  transform: translatex(-5px);
}
100% {
  transform: translatex(0px);
}
}

@keyframes swing {
0% {
    transform: rotate(2deg);
}
100%{
    transform: rotate(-2deg);
}
}
/* 頁尾區 */
.AboutPage-footer {
  display: inline-block;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0px;
  
  width: 100%;
  height: 65px;
  
  letter-spacing: 3px;
  color: #464646;

}
/* 憑辦 */
@media (min-width: 768px) and (max-width: 1024px){
/* 左下膠帶 */
  .About-pic1 {
    
    left:26%;
    bottom:10%;
  } 
  
  /* 右上膠帶 */
  .About-pic2 {
  
    right: 3%;
    top: 15%;
    
  }
 
  .About-pic1 img,.About-pic2 img{
    width: 14.38vw;
    height: 10vh;
  }
  /* 愛心印章 */
  .About-pic3 img {
    width: 17vw;
    height: 10vh;
  }
  .About-pic3 {
   
    left: 23%;
    bottom: 40%;
  
  }
   /* 白花 */
  .About-pic4 img {
    width: 15.63vw;
    height: 18vh;
  
  }
 
  .About-pic4 {
   
    left: 18%;
    bottom: 10%;
  
    transform: scaleX(-1) rotate(40deg);
  }
  
   /* 圓章 */
  .About-pic5 img {
    width: 10vw;
    height: 8vh;
  }
 
  .About-pic5 {

    right: 6%; 
    bottom: 10%;
  }

  /* 右紙 */
  .About-pic6 img {
    width: 20vw;
    height: 16vh;
   
  }
 
  .About-pic6 {
    
    right: 0;
    bottom: 45%;
    transform:scaleX(-1) rotate(20deg);
  
  
  }
   /* 右花 */
  .About-pic7 img {
    width: 20vw;
    height:13vh;
   
  }
  .About-pic7 {
  
    right: 5%;
    bottom: 44%;
   
  
  }
  /* 上面膠帶 */
  .About-pic8 {
    position: absolute;
    left:55%; 
    top: 28%;
  
  }
  /* 下面膠帶 */
  .About-pic9 {
  
    right: 35%;
    top: 52%;

  }
  .About-pic8 img,.About-pic9 img
  {
    width: 6vh;
    height: 5vh;
  }

}