@use "reset1";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');

#newpasswordPage {
  font-family: "Noto Sans TC", serif;
  line-height: 1.2;
  background-image: url(../images/background.png);

}

/* 首頁區 */
// #topbar {

//   position: fixed;
//   top: 0;
//   left: 0;
//   width: 100%;

//   display: flex;
//   justify-content: space-between;
//   align-items: center;



//   .logo {
//     width: 238px;
//     height: 76px;
//     margin: 0 20px;
//   }

//   .navigation {
//     display: flex;
//     flex-direction: column;
//     align-items: flex-end;

//     .menu {
//       display: flex;
//       padding: 0 200px;

//       a {
//         margin: 15px;
//         padding: 7px 0 5px;
//         border-bottom: 2px solid transparent;
//         transition: 0.4s;
//         text-shadow: 0 0 2px rgba(255, 255, 255, 0.3);

//         &:hover {
//             color: #00ff88;
//             border-bottom: 2px solid transparent;
//         }
//       }

//     }
//   }
// }

#newpassword-main {

  height: auto;
  width: 100%;
  color: #464646;



  article {
    display: flex;
    margin-top: 5%;
    margin-left: 15%;
    color: #8A5D3B;
    font-size: 1.375rem;
    letter-spacing: 3px; //文字間距
    font-weight: bold;
  }
}

/* 表單 */
#newpassword-password-form {
  display: flex;

  flex-direction: column;

  margin-top: 4%;
  margin-left: 15%;
  letter-spacing: 3px;


  /* 表單內容 */
  .newpassword-new-box {
    display: flex;
    align-items: center;
    margin-top: 20px;
    padding: 25px 0;

    label {
      display: flex;
      align-items: center;
      font-size: 1.125rem;

      width: 9vw;
      height: 5vh;

    }

    input {
      height: 4.5vh;
      width: 25vw;
      font-size: 1.125rem;
      background-color: #CDB17E;
      border: none;
      margin-left: 10px;

    }

    small {
      padding: 0 10px;
    }

    input:focus {
      outline: none;
      border-color: #fff;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(109, 52, 20, 0.486);
    }

  }



  /* 密碼變更按鈕 */
  .newpassword-c-btn {
    margin-top: 5%;
    margin-left: 35%;



    input {
      width: 7.81vw;
      height: 4vh;
      font-size: 1rem;
      background-color: #CDB17E;
      border: none;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(109, 52, 20, 0.486);
      cursor: pointer;
      color: #464646;

      &:hover {

        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

      }
    }

  }
}


@media (max-width:1680px) {
  #newpassword-password-form {
    .newpassword-new-box {

      label {

        width: 10vw;

      }
    }
  }

}

@media (max-width:1440px) {
  #newpassword-password-form {
    .newpassword-new-box {

      label {

        width: 11.5vw;

      }
    }
  }

}

@media (min-width: 768px) and (max-width: 1024px) {

  #newpassword-main {


    article {
      display: flex;
      margin-top: 25%;
      margin-left: 24%;

      font-size: 1.125rem;

    }
  }

  /* 表單 */
  #newpassword-password-form {
    display: flex;

    flex-direction: column;

    margin-top: 4%;
    margin-left: 25%;
    letter-spacing: 3px;


    /* 表單內容 */
    .newpassword-new-box {
      display: flex;
      align-items: start;
      flex-direction: column;

      margin-top: 0;
      padding: 5px 0;

      label {

        font-size: 1.125rem;
        width: 30vw;
        height: 3vh;
        margin-bottom: 10px;

      }

      input {
        height: 3.5vh;
        width: 50vw;
        font-size: 1rem;
        margin-left: 0;



      }

      small {
        padding: 20px 10px;
        font-size: .75rem;
      }


    }



    /* 密碼變更按鈕 */
    .newpassword-c-btn {
      margin-top: 5%;
      margin-left: 18%;

      input {
        width: 20vw;
        height: 4vh;
        font-size: 1rem;

      }

    }
  }

}

/* 裝飾背景 */

/* 左邊的角落 */
.newpassword-img01 {

  position: absolute;
  width: 23.44vw;
  height: 23.15vh;
  right: 0px;
  bottom: 17%;

  transform: scaleX(-1);

}



/* 左邊花 */
.newpassword-img02 {

  position: absolute;
  width: 16.67vw;
  height: 29.63vh;
  right: 10%;
  bottom: 10%;

  transform: rotate(10deg);



}

/* 右邊花 */
.newpassword-img03 {

  position: absolute;
  width: 13.02vw;
  height: 22.96vh;
  left: 10%;
  bottom: 22%;

}

@media (max-width:1680px) {

  .newpassword-img01 {

    bottom: 13%;

  }

  .newpassword-img02 {


    bottom: 6%;

  }
}

@media (min-width: 768px) and (max-width: 1024px) {

  .newpassword-img01 {

    width: 31.25vw;
    height: 15vh;
    left: 0;
    bottom: 10%;
    transform: scaleX(1);

  }

  /* 左邊花 */
  .newpassword-img02 {

    width: 20vw;
    height: auto;
    right: 70%;
    bottom: 10%;
    transform: scaleX(-1);

  }

  /* 右邊花 */
  .newpassword-img03 {

  
    width: 25vw;
    height: 22.96vh;
    left: 65%;
    bottom: 60%;

  }

}

.newpasswordPage-footer {


  display: inline-block;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0px;
 
  width: 100%;
  height: 65px;


  letter-spacing: 3px;
  color: #000;
}