@charset "UTF-8";

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,
h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,
code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,
fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,
ruby,section,summary,time,mark,audio,video,main 
{
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;

}

* {
  box-sizing: border-box;
  /* 不累加邊框與內距 */
}

/* 英文和數字的特殊樣式 */
.num,
.english {
  font-family: 'Roboto', sans-serif;
}

/* 設定的參數 */
:root {
  --primary-1: #464646;
  --primary-2: #F9D615;
  --link: #6A4217;
  --text: #333;
  --text2:#fff;
  --active: red;
  --background: #f2e9d4;

}

body,h1,ul,p,h2 ,button
{
  font-family: 'Noto Sans TC', sans-serif;
  /* 預設中文字型 */
 
}

/* h1 樣式 */
h1 {
  text-align: center;
  font-size: 2rem;
  /* 設定較大的文字大小 */
  margin-bottom: 10px;
}

/* h2 樣式 */
h2 {
  font-size: 1.5rem;
  /* 設定比 h1 小的文字大小 */
 
}


ul {
  list-style-type: none;

}
img {
  display: block;
  /* 取消inline-block預設空白 */
  width: 100%;
 
}

a {
  color: var(--link);
  text-decoration-line: none;
}

#postPage {
  box-sizing: border-box;
  background-color: var(--background);
  position: relative;
}

a:hover {
  color: var(--primary-1);
}

#postPage-main {
  width: 80%;
  height: 100%;
  margin: auto;
  display: flex;
  /* align-items: start;
  justify-content:start ; */
  position: relative;
 
}

/* 配對首頁區 */
/* #topbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 999;
  padding: 20px 50px;
}

#topbar .logo {
  display: flex;
  position: relative;

}
#topbar .logo img {
  width: 100px;
  position: absolute;
  left: -45px;
  top: -35px;
}
.navigation {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  z-index: 998;
}

.menu {
  display: flex;
  padding: 0 10px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.menu a {
  margin: 15px;
  padding: 7px 0 5px;
  border-bottom: 2px solid transparent;
  transition: 0.4s;
  text-shadow: 0 0 2px rgba(255, 255, 255, 0.3);
 
}

.menu a:hover{
  color: #ffcc00;
  border-bottom: 2px solid transparent;
  text-decoration-line: none;
 

} */
/* 側邊區按鈕區 */
#postPage-sidebar {

  margin-top: 100px;
  height: auto;
  width: 200px;
  
}

.postPage-sidebar-item01 {
  position: relative;
  width: 180px;
  height: 80px;
  margin-bottom: 20px;

}

.postPage-sidebar-item01 img{
  width: 100%;
  height: 100%;
}

.postPage-sidebar-item01 h2 {
  position: absolute;
  top: 22px;
  left: 52px;

}

.postPage-sidebar-item02 {
  position: relative;
  width: 180px;
  height: 80px;
}

.postPage-sidebar-item02 img{
  width: 100%;
  height: 100%;

}

.postPage-sidebar-item02 h2 {
  position: absolute;
  top: 22px;
  left: 62px;
}
/* 按鈕動畫 */
.button-grow-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);

  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property:  transform;
  transition-property: transform;
 
}
.button-grow-shadow:hover{

  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.button-grow-shadow:focus{

  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.button-grow-shadow:active{

  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}


/* 內容區 */
#postPage-post-box{
  width: 33.85vw;
  height: 90vh;
  position: relative;
  margin-left:5%;
  margin-top:5%;
}
#postPage-post-box img{
  width: 100%;
  height: 100%;

}
#postPage-p-content{
  position: absolute;
  top:0;
  margin: 50px 20px;
  
  

}
/* 地區 */
#postPage-p-content .p01{
 
  display: flex;
  padding: 10px 0;
  
}
#postPage-p-content .p01 img{

  width: 48px;
  height: 48px;
  padding-left: 13px;
 
}
/* 收件 */
#postPage-p-content .p02{
  
  display: flex;
  padding: 10px 0;
  
}
#postPage-p-content .p02 img{

  width: 48px;
  height: 48px;
  padding-left: 13px;
}
/* 寄件 */
#postPage-p-content .p03{
  
  display: flex;
  padding: 10px 0;
  
}
#postPage-p-content .p03 img{

  width: 48px;
  height: 48px;
  padding-left: 13px;
}

#postPage-p-content .p-box {
  background-image: url("../images/btn-1.jpg");
  background-size: contain;
  margin: 5px 20px;
  width: 110px;
  height: 30px;
  text-align: center;
}

#postPage-p-content .p-box p {
  height: 100%;
  line-height: 30px;
  font-size: 18px;
  color: #464646;
}

/* 頭像 */

.postPage-photo-frame {
  position: absolute;
  width: 210px;
  height: 200px;
  transform: rotate(90deg);
  top: 50px;
  left: 240px;
  z-index: 999;
}
.postPage-photo{
  position: absolute;
  width: 128px;
  height: 178px;
  top: 58px;
  left: 303px;  
  z-index: 998;

}
.postPage-person-id {
  position: absolute;
  left: 440px;
  top: 100px;
  width: 157px;
  height: 75px;
  background-image: url('../images/id-bg.svg');
  background-size: 100%;
  background-size: contain;

}
.postPage-person-id  p {
  position: absolute;
  font-size: 16px;
  font-weight: 700;
  top: 25%;
  left: 10%;
  color: #464646;

}

/* 寄過明信片區 */
.postPage-send-postcard{
display: flex;

align-items: center;
position: absolute;
top: 300px;
width: 100%;
margin: 0 35px;

}
.postPage-send-postcard p{
  margin-top: 40px;
  color: var(--text2);
  font-size: 18px;
  font-weight: 500;
  
}
/* 第一張明信片 */
.pc01-frame{
 position: absolute;
  width: 170px;
  height: 143px;
  top:0px;
  left:200px;
  z-index: 999;

}
.pc01-photo{
  position: absolute;
  width: 142px;
  height: 90px;
  top:10px;
  left:214px;
  z-index: 997;

}

/* 第二張明信片 */
.pc02-frame{

  position: absolute;
  width: 170px;
  height: 143px;
  top:0px;
  left:376px;
  z-index: 999;

}
.pc02-photo{
  position: absolute;
  width: 142px;
  height: 90px;
  top:10px;
  left: 390px;
  z-index: 997;
}

/* 關於對方 */
.postPage-about-other{
  position:absolute;
  top: 400px;
  left: 10px;
 
}

.postPage-other-title{
  position: absolute;
  width: 120px;
  height: auto;
  top: 30px;
  left: 80px;

}
.postPage-about-other p{
  position: absolute;
  
  text-align: justify;
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  width: 350px; 
  top: 100px;
  left: 150px;
  color: var(--primary-1);

}
.postPage-other-content{
 position: absolute;
  display: flex;

  justify-content: space-between;
  width: 100%;
  height: auto;
  bottom: 100px;
  padding: 0 20px;
  
}
.postPage-other-id{
  width:auto ;
  height:auto;
 
  
}
.postPage-other-name{
  width: auto;
  height: auto;

 
}
.postPage-other-content p{
  font-size: 16px;
  font-weight: 500;
  color: var(--text2);
  margin-top: 10px;
}
.postPage-other-id >*{
  color: var(--text2);
  
} 
.postPage-other-id h2{
  line-height: 2em;
 
}


/* 台灣區 */
#postPage-taiwan{
  margin-top: 150px;
  margin-left:130px;
  width: 500px;
  height: 550px;
  position: relative;
}
#postPage-taiwan img{
  width: 100%;
  height: 100%;
  
}
/* 離島 */
#postPage-islands{
  position: absolute;
 
  top: 30%; 
  left: 10%;
}
/* 北部 */
#postPage-north{
  position: absolute;
  top: 20%;
  right:40%;
}
/* 中部 */
#postPage-central {
  position: absolute;
 
  top: 35%;
  right: 55%;
}
/* 南部 */
#postPage-south {
  position: absolute;
  bottom: 35%;
  right: 65%;


}
/* 東部 */
#postPage-east {
  position: absolute;
  bottom: 35%;
  right: 45%; 
}
/* 顯示的小視窗 */
.point button{
  width: 24px;
  height: 24px;
  border-radius: 99px;
  background-color: #e2ca9e;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.2s ease; /* 添加平滑過渡效果 */
}
.point button:hover {
  background-color: #8A5D3B; /* 滑鼠移入時的顏色 */
 
  transform: translateY(-3px); /* 按鈕往上移動，模擬凸起 */
}
.point button.active {
  background-color: #8A5D3B; /* 點擊後保持的顏色 */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 2px 4px rgba(0, 0, 0, 0.1); /* 保持的陰影效果 */
  transform: translateY(-3px); /* 按鈕往上移動，模擬凸起 */
}
.popover {
  position: absolute;
  
  display: block;

  background-image: url(../images/p2-papers-1.jpg);
  border-radius: 10px;
  width: 164px;
  height: auto;
  border: 1px solid #ccc;
  padding: 10px;
  opacity:90%;

  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;

}
.popover-title{
  display: flex;
  margin:auto;

  
}
#postPage-taiwan .popover-title img{
  margin-left: 4px;
  width: 30px;
  height: 30px;
}
.total{
  background-image: url(../images/p2-papers-1.jpg);
  background-position: center bottom;
  border-radius: 10px;
  border:1px solid #ffffff;
  width: 140px;
  height: 30px;
  margin-top:12px ;
  
}
.r-title{
  display: flex;
  justify-content: center;
  align-items: center;
  
}
#postPage-taiwan .r-title img{
width: 28px;
height: 28px;
margin: 5px;

}
.rankings{
  background-image: url(../images/p2-papers-1.jpg);
  background-position: center bottom;
  border-radius: 10px;
  border:1px solid #ffffff;
  width: 140px;
  height: 98px;
  margin: auto;
}
/* 關閉按鈕 */
 #postPage-taiwan .popover .taiwan-closeButton-post{
  width: 52px;
  margin-top: 5px;
  margin-left: 45px;

}
#postPage-taiwan .popover .taiwan-closeButton-post:hover{
  color: #ffffff;
}

/* 裝飾區 */
/* 白花 */
.postPage-img01{
  position: absolute;
  width: 15.63vw;
  height:20vw;
  bottom: 5%;
  left: 10%;
  /* animation: swing ease-in-out 2s infinite alternate;
  transform-origin: bottom -20px; */
}


/* APPROVED印章 */
.postPage-img02{
  position: absolute;
  width: 6.25vw;
  height: 11.11vh;
  bottom: 5%; 
  left: 23%;
  
}
/* 多張郵票 */
.postPage-img03{
  position: absolute;
  width:18.23vw;
  height: 30vh;
  bottom: 5%;
  right:5%;


}
/*UPDATE印章  */
.postPage-img04{
  position: absolute;
  width: 8.85vw;
  height:3.70vh;
  top: 15%;
  left: 50%;
  transform: rotate(20deg); 
}
/* rule-box左下的紙 */
.postPage-img05{
  position: absolute;
  width: 13.02vw;
  height: auto;
  bottom: 5%;
  left:54%;
  transform: rotate(20deg); 
  background-size:cover ;
}


/* 頁尾區 */


.postPage-footer {
  display: inline-block;
  
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0px;
  /* background-color: #E2CA9E; */
  width: 100%;
  height: 65px;
  
  letter-spacing: 3px;
  color: #464646;
  margin-top: 30px;
  
  }