@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
main {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}

* {
  box-sizing: border-box;
}

/* 重置標題字重 */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

/* 重置清單符號 */
ol,
ul {
  list-style: none;
}

/* 重置圖片 */
img {
  display: block;
  width: 100%;
}

/* 重置連接 */
a {
  display: block;
  /* 將a預設inline改為block，才能設定間距及寬高 */
  color: #222;
  text-decoration: none;
}

#password-r-Page {
  font-family: "Noto Sans TC", serif;
  line-height: 1.2;
  background-image: url(../images/background.png);
}

#password-r-main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#password-r-main h2 {
  font-size: 1.375rem;
  letter-spacing: 5px;
  text-align: center;
  line-height: 4.6875rem;
  color: #8A5D3B;
  font-weight: bold;
}
#password-r-main #pr-email-box {
  width: 44vw;
  height: 50vh;
  position: relative;
}
#password-r-main #pr-email-box img {
  width: 100%;
  height: 100%;
}
#password-r-main #pr-email-box .pr-input-email #pr-email {
  position: absolute;
  top: 33%;
  left: 20%;
  width: 26.04vw;
  height: 4.63vh;
  font-size: 1.125rem;
  background-color: #CDB17E;
  border: none;
  text-align: center;
  color: #464646;
}
#password-r-main #pr-email-box .pr-input-email #pr-sure-btn {
  position: absolute;
  top: 55%;
  left: 40%;
  width: 7.81vw;
  height: 4.63vh;
  font-size: 1.125rem;
  background-color: #CDB17E;
  border: none;
  cursor: pointer;
  color: #464646;
}
#password-r-main #pr-email-box .pr-input-email input:focus {
  outline: none;
  border-color: #fff;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(109, 52, 20, 0.486);
}
#password-r-main #pr-email-box .pr-input-email button:hover {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

@media (min-width: 768px) and (max-width: 1024px) {
  #password-r-main h2 {
    font-size: 1.125rem;
    letter-spacing: 5px;
    text-align: left;
    line-height: 25px;
    margin-top: 25%;
  }
  #password-r-main #pr-email-box {
    width: 70vw;
    height: 35vh;
    margin-left: 2%;
  }
  #password-r-main #pr-email-box .pr-input-email #pr-email {
    top: 33%;
    left: 20%;
    width: 40vw;
    height: 4.63vh;
  }
  #password-r-main #pr-email-box .pr-input-email #pr-sure-btn {
    position: absolute;
    top: 60%;
    left: 38%;
    width: 15vw;
    height: 4.63vh;
    font-size: 1.125rem;
  }
}
/* 背景插圖 */
.pr-img01 {
  position: absolute;
  width: 31.25vw;
  height: 41.67vh;
  left: 0;
  bottom: 12%;
}

@media (max-width: 1680px) {
  .pr-img01 {
    width: 31.25vw;
    height: 41.67vh;
    bottom: 5%;
  }
}
.pr-img02 {
  position: absolute;
  width: 25vw;
  height: 37.04vh;
  left: 8%;
  top: 40%;
}

.pr-img03 {
  position: absolute;
  width: 6.25vw;
  height: 9.26vh;
  bottom: 28%;
  right: 28%;
  transform: rotate(-5deg);
}

.pr-img04 {
  position: absolute;
  width: 16.67vw;
  height: 29.63vh;
  right: 13%;
  top: 25%;
  transform: rotate(15deg);
}

.pr-img05 {
  position: absolute;
  width: 14.58vw;
  height: 25.93vh;
  right: 8%;
  top: 20%;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .pr-img01 {
    width: 31.25vw;
    height: 15vh;
    left: 0;
    bottom: 10%;
  }
  .pr-img02 {
    width: 25vw;
    height: 10vh;
    left: 8%;
    top: 70%;
  }
  .pr-img03 {
    width: 10vw;
    height: 9.26vh;
    bottom: 30%;
    right: 16%;
  }
  .pr-img04 {
    width: 22vw;
    height: 10vh;
    right: 10%;
    top: 18%;
  }
  .pr-img05 {
    width: 22vw;
    height: 10vh;
    right: 5%;
    top: 12%;
  }
}
/* 頁尾區 */
.password-r-Page-footer {
  display: inline-block;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0px;
  width: 100%;
  height: 65px;
  letter-spacing: 3px;
  color: #464646;
}/*# sourceMappingURL=passwordR.css.map */