@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
main {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}

* {
  box-sizing: border-box;
}

/* 重置標題字重 */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

/* 重置清單符號 */
ol,
ul {
  list-style: none;
}

/* 重置圖片 */
img {
  display: block;
  width: 100%;
}

/* 重置連接 */
a {
  display: block;
  /* 將a預設inline改為block，才能設定間距及寬高 */
  color: #222;
  text-decoration: none;
}

#verifyPage {
  font-family: "Noto Sans TC", serif;
  line-height: 1.2;
  background-image: url(../images/background.png);
}

/* 首頁區 */
#verify-main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  background-attachment: fixed;
  /* 驗證碼區 */
}
#verify-main h2 {
  font-size: 22px;
  letter-spacing: 5px;
  text-align: center;
  line-height: 2.5em;
  color: #8A5D3B;
  font-weight: bold;
}
#verify-main #verify-code {
  width: 44vw;
  height: 60vh;
  position: relative;
  /* 提醒字 */
  /* 驗證區 */
  /* 產生驗證碼區 */
  /* 換圖按鈕 */
  /* 輸入驗證碼區塊 */
  /* 確認按鈕 */
  /* 輸入時的樣式 */
}
#verify-main #verify-code img {
  width: 100%;
  height: 100%;
}
#verify-main #verify-code .verify-remind {
  position: absolute;
  top: 18%;
  left: 40%;
  font-size: 1.125rem;
  color: #464646;
}
#verify-main #verify-code #verify-input_block {
  position: absolute;
  top: 25%;
  left: 18%;
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  /* 調整輸入區位置 */
}
#verify-main #verify-code #verify-input_block .verify-input-code {
  display: flex;
  align-items: center;
}
#verify-main #verify-code #auth-code {
  display: block;
  width: 23.44vw;
  height: 9.26vh;
  margin: 20px 30px 40px;
  border: 1px solid #ccc;
  background-color: #fff;
}
#verify-main #verify-code #reBtn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 2.08vw;
  height: 3.7vh;
}
#verify-main #verify-code #validText {
  width: 22.4vw;
  height: 4.63vh;
  margin: 0 10px;
  background-color: #CDB17E;
  border: none;
  font-size: 1.125rem;
}
#verify-main #verify-code #verify-sure-btn {
  position: absolute;
  top: 65%;
  left: 40%;
  width: 7.81vw;
  height: 4.63vh;
  font-size: 1.125rem;
  background-color: #CDB17E;
  border: none;
  cursor: pointer;
  color: #464646;
}
#verify-main #verify-code #verify-sure-btn:hover {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
#verify-main #verify-code input:focus {
  outline: none;
  border-color: #fff;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(109, 52, 20, 0.486);
}

@media (min-width: 768px) and (max-width: 1024px) {
  #verify-main {
    /* 驗證碼區 */
  }
  #verify-main h2 {
    font-size: 1.125rem;
    letter-spacing: 5px;
    text-align: left;
    line-height: 30px;
    margin-top: 25%;
  }
  #verify-main #verify-code {
    width: 70vw;
    height: 40vh;
    margin-left: 2%;
    /* 提醒字 */
    /* 驗證區 */
    /* 產生驗證碼區 */
    /* 換圖按鈕 */
    /* 輸入驗證碼區塊 */
    /* 確認按鈕 */
  }
  #verify-main #verify-code .verify-remind {
    top: 18%;
    left: 35%;
    font-size: 1rem;
  }
  #verify-main #verify-code #verify-input_block {
    top: 25%;
    left: 18%;
    /* 調整輸入區位置 */
  }
  #verify-main #verify-code #verify-input_block .verify-input-code {
    display: flex;
    align-items: center;
  }
  #verify-main #verify-code #auth-code {
    display: block;
    width: 40vw;
    height: 8vh;
    margin: 15px 10px;
  }
  #verify-main #verify-code #reBtn {
    width: 5vw;
    height: 3.7vh;
  }
  #verify-main #verify-code #validText {
    width: 35vw;
    height: 4vh;
    margin: 0 5px;
    font-size: 1rem;
  }
  #verify-main #verify-code #verify-sure-btn {
    top: 68%;
    left: 35%;
    width: 15vw;
    height: 4vh;
    font-size: 1rem;
  }
}
/* 背景插圖 */
/* 左下角角落 */
.verify-img01 {
  position: absolute;
  width: 31.25vw;
  height: 41.67vh;
  left: 0;
  bottom: 12%;
}

@media (max-width: 1680px) {
  .verify-img01 {
    position: absolute;
    width: 31.25vw;
    height: 41.67vh;
    left: 0;
    bottom: 5%;
  }
}
/* 左下角花 */
.verify-img02 {
  position: absolute;
  width: 25vw;
  height: 37.04vh;
  left: 8%;
  top: 40%;
}

/* 驗證碼區的印章 */
.verify-img03 {
  position: absolute;
  width: 6.25vw;
  height: 9.26vh;
  bottom: 28%;
  right: 28%;
  transform: rotate(-5deg);
}

@media (max-width: 1440px) {
  .verify-img03 {
    bottom: 25%;
  }
}
/* 左中的紙 */
.verify-img04 {
  position: absolute;
  width: 16.67vw;
  height: 29.63vh;
  right: 13%;
  top: 25%;
  transform: rotate(15deg);
}

/* 左邊的花 */
.verify-img05 {
  position: absolute;
  width: 14.58vw;
  height: 25.93vh;
  right: 8%;
  top: 20%;
}

@media (min-width: 768px) and (max-width: 1024px) {
  /* 左下角角落 */
  .verify-img01 {
    width: 31.25vw;
    height: 15vh;
    left: 0;
    bottom: 10%;
  }
  /* 左下角花 */
  .verify-img02 {
    width: 25vw;
    height: 10vh;
    left: 8%;
    top: 70%;
  }
  /* 驗證碼區的印章 */
  .verify-img03 {
    width: 10vw;
    height: 9.26vh;
    bottom: 27%;
    right: 16%;
  }
  /* 左中的紙 */
  .verify-img04 {
    width: 22vw;
    height: 10vh;
    right: 10%;
    top: 18%;
  }
  /* 左邊的花 */
  .verify-img05 {
    position: absolute;
    width: 22vw;
    height: 10vh;
    right: 5%;
    top: 12%;
  }
}
.verifyPage-footer {
  display: inline-block;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0px;
  width: 100%;
  height: 65px;
  letter-spacing: 3px;
  color: #000;
}/*# sourceMappingURL=verify.css.map */